body {
    margin: 0;
    padding: 0;
    color: white;
    background-size: 40px 40px;
    background-color: black;
    background-image: 
    linear-gradient(to right, rgb(29, 29, 29) 0.1px, transparent 1px), 
    linear-gradient(to bottom, rgb(27, 27, 27) 0.1px, transparent 1px);
}

:-webkit-full-screen {
    background-size: 40px 40px;
    background-color: black;
    background-image: 
    linear-gradient(to right, rgb(56, 56, 56) 0.1px, transparent 1px), 
    linear-gradient(to bottom, rgb(56, 56, 56) 0.1px, transparent 1px);
}

#keystoneContainer{
    margin-left: 50%;
    margin-top:5%;
    overflow: hidden;
    width: 1400px !important;
    height: 1000px !important;
    /* background-color: rgba(255, 0, 191, 0.1); */
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 0, 0, 0.5);
}

/* slide div crop settings  */
.mySlides {
    width: 200% ;
    height: 100% ;
}

.helpDiv {
    position: fixed;
    left: 2rem;
    width: 60%;
    top:2rem;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

.logo{
        position: fixed;
        left: 50%;
        top:30%;
}

iframe{
    width: 600px;
    height: 600px;
}


#keystoneContainer{
    width: 100% ;
    height: 100% ;
}
.overCanvas{
    position: fixed; 
    left: 0rem;
    top: 95%; 
    z-index: 9999;
}

video {
    width: 100%;
    height: 100%;
}
video::-webkit-media-controls {
    display: none;
  }

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}